<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" href="../img/Logo.ico" type="image/x-icon" />
<title>SpringGenesys</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/styles.css" th:href="@{css/styles.css}" />
</head>
<body>
	<h1>Kyselyn muokkaus</h1>

	<div>
		<form th:object="${survey}" th:action="@{../savesurvey}" action="#" method="post">
		<input type="hidden" id="survey_id" th:field="*{survey_id}" />
			<label for="survey">Kyselyn nimi</label>
			<input type="text" id="survey" th:field="*{surveyName}" />
    		
			<input type="submit" value="Save" class="btn btn-success"></input>
			
		</form>
	</div>

</body>
</html>