<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Kyselyn muokkaus</h1>

	<div>
		<form th:object="${team}" th:action="@{../save}" action="#" method="post">
		<input type="hidden" id="team_id" th:field="*{team_id}" />
			<label for="team_name">Kyselyn nimi</label>
			<input type="text" id="team_name" th:field="*{team_name}" />
    		
			<input type="submit" value="Save" class="btn btn-success"></input>
			
		</form>
	</div>

</body>
</html>