<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Questions</title>
</head>
<body>

	<a th:href="@{/editsurvey/{id}(id=${survey.survey_id})}">edit name</a>
	<table>
		<tr>
			<th>Kysely</th>
			<th>Kysymkset</th>
		</tr>
		
		<tr th:each="question : ${questions}">
			<td th:text="${question.question}"></td>
			<td th:text="${question.survey.survey}"></td>
		</tr>
		
		<tr th:each="survey : ${surveys}">
			<td th:text="${survey.survey}"></td>
		</tr>
	</table>

</body>
</html>