<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Questions</title>
</head>
<body>

	<table>
		<tr>
			<th>Kysely</th>
			<th>Kysymkset</th>
		</tr>
		
		<tr th:each="team : ${teams}">
			<td th:text="${team.team_name}"></td>
			<td><a th:href="@{/editteam/{id}(id=${team.team_id})}">edit team</a></td>
		</tr>

	</table>
	
		<table>
		<tr>
			<th>Kysely</th>
			<th>Kysymkset</th>
		</tr>
		
		<tr th:each="question : ${questions}">
			<td th:text="${question.question}"></td>
			<td th:text="${question.team.team_name}"></td>
		</tr>
	</table>

</body>
</html>